body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: #fff; }

/*------------header-------------*/
header {
  position: fixed;
  display: none;
  top: 0;
  z-index: 100;
  width: 100%;
  padding: 10px 0;
  background: transparent;
  /* menu responsivo */ }
  header .navbar {
    margin-bottom: 0;
    margin-top: 10px; }
    header .navbar button span {
      border: 1px solid white; }
  header .name {
    float: left;
    margin-top: 20px;
    font: bold 14px Raleway;
    width: 170px; }
    header .name strong {
      font-weight: 300;
      font-family: "Georgia";
      font-style: italic; }
  header img {
    float: left;
    border-radius: 50%;
    border: 1px solid #134443; }
  header a, header .navbar button span {
    color: #fff; }
    header a:after, header .navbar button span:after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 3px;
      content: '';
      transition: all 0.8s;
      right: 0;
      bottom: 0; }
    header a:before, header .navbar button span:before {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 3px;
      content: '';
      transition: all 0.8s;
      left: 0;
      top: 0; }
    header a:hover:after, header .navbar button span:hover:after, header a:hover:before, header .navbar button span:hover:before {
      background: #52eab6;
      opacity: 1;
      width: 100%;
      color: #134443; }
  @media (max-width: 768px) {
    header {
      position: absolute;
      background: #134443; } }

/*-------section video--------------*/
.video {
  height: 100%; }
  .video .hero {
    position: absolute;
    bottom: 33.33333%;
    width: 100%; }
    .video .hero .list {
      position: fixed; }
      .video .hero .list i {
        color: #000;
        font-size: 20px; }
    .video .hero a, .video .hero header .navbar button span, header .navbar button .video .hero span {
      position: relative;
      bottom: -190px;
      font-size: 60px;
      color: #fff; }
  .video .text-transparente {
    width: 50%;
    margin: auto;
    height: 200px;
    background: rgba(15, 14, 14, 0.43);
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left: 0; }
    .video .text-transparente h1 {
      text-transform: uppercase;
      font: bold 5.7em/90% Raleway;
      font-weight: 700; }
      @media (max-width: 768px) {
        .video .text-transparente h1 {
          font: bold 2.7em/90% Raleway; } }
    .video .text-transparente h2 {
      font-size: 20px; }

/*-------section about me---------*/
.about-me {
  background-image: url(../img/about-me.JPG);
  background-size: cover;
  height: 680px; }
  .about-me h2 {
    margin: 8% auto 3% auto;
    color: #273443;
    font-family: 'Muli';
    font-weight: 500; }
  .about-me .text-aboutme {
    background: rgba(15, 14, 14, 0.43);
    padding: 20px 20px 10px 20px; }
    .about-me .text-aboutme p {
      font-size: 1em; }
    .about-me .text-aboutme i {
      font-size: 30px;
      color: #fff; }
  .about-me .animate {
    position: relative; }

/*  seccion habilidades   */
.mapslider {
  height: 650px;
  position: relative;
  background: rgba(133, 160, 151, 0.31);
  overflow: hidden; }
  .mapslider h2 {
    margin: 8% auto 3% auto;
    color: #273443;
    font-family: 'Muli';
    font-weight: 500; }
  .mapslider .mapmark {
    overflow: hidden;
    position: absolute;
    width: 90px;
    height: 90px;
    line-height: 20px;
    box-shadow: 0 10px 10px -1px #5f1f20;
    border-radius: 50%;
    cursor: pointer; }
    .mapslider .mapmark#m1 {
      top: 100px;
      right: 100px; }
    .mapslider .mapmark#m2 {
      top: 50px;
      right: 200px; }
    .mapslider .mapmark#m3 {
      top: 100px;
      right: 300px; }
    .mapslider .mapmark#m4 {
      top: 200px;
      right: 100px; }
    .mapslider .mapmark#m5 {
      top: 150px;
      right: 200px; }
    .mapslider .mapmark#m6 {
      top: 250px;
      right: 200px; }
    .mapslider .mapmark#m7 {
      top: 200px;
      right: 300px; }
    .mapslider .mapmark.active {
      background: #000;
      box-shadow: 0 0px 10px -1px #134443;
      font-weight: bold;
      cursor: default; }
  .mapslider .mapnav {
    padding: 20px;
    height: 650px;
    box-shadow: 0 0 260px -60px #000; }
    .mapslider .mapnav span {
      display: block;
      padding: 3px 20px;
      cursor: pointer; }
      .mapslider .mapnav span.active {
        font-weight: bold;
        cursor: default;
        color: #525252; }

/*---------------barrras de porcentaje-------------*/
.percentage-bar {
  background: #fff;
  display: block;
  height: 35px;
  margin-bottom: 15px;
  position: relative;
  transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  -webkit-transition-property: width, background-color;
  width: 100%; }

.title {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px; }
  .title span {
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-align: center; }

.bar {
  height: 35px;
  width: 0px; }

.percent {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.4);
  height: 35px;
  line-height: 35px;
  right: 10px; }

section.percentage-bar:first-child div.title {
  background: #52eab6; }
section.percentage-bar:first-child div.bar {
  background: #134443; }
section.percentage-bar:nth-child(2) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(2) div.bar {
  background: #134443; }
section.percentage-bar:nth-child(3) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(3) div.bar {
  background: #134443; }
section.percentage-bar:nth-child(4) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(4) div.bar {
  background: #134443; }
section.percentage-bar:nth-child(5) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(5) div.bar {
  background: #134443; }
section.percentage-bar:nth-child(6) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(6) div.bar {
  background: #134443; }
section.percentage-bar:nth-child(7) div.title {
  background: #52eab6; }
section.percentage-bar:nth-child(7) div.bar {
  background: #134443; }

/*------boton click porcentaje-----*/
#boton, .contact form button {
  width: 100px;
  margin: auto;
  padding: 5px;
  box-shadow: 4px 4px 0 #273443;
  background: transparent;
  border: 2px solid #273443; }
  #boton i, .contact form button i {
    color: #273443;
    font-size: 30px; }

/* seccion portafolio */
.portafolio h2 {
  margin: 8% auto 3% auto;
  color: #273443;
  font-family: 'Muli';
  font-weight: 500; }
.portafolio ul {
  margin-left: 0;
  overflow: hidden; }
  .portafolio ul li {
    padding: 20px;
    background: #273443;
    margin: 0 20px 20px 0;
    position: relative;
    cursor: pointer;
    width: 33.33333%;
    height: 20%;
    overflow: hidden; }
    .portafolio ul li:hover {
      background: #52eab6; }
    @media (max-width: 768px) {
      .portafolio ul li {
        width: 100%; } }
    .portafolio ul li .imagen-table {
      width: 380px;
      height: 220px;
      position: absolute;
      background: rgba(15, 14, 14, 0.43);
      opacity: 0;
      transition: all 1s;
      top: 0;
      left: 0;
      display: table; }
      .portafolio ul li .imagen-table:hover {
        opacity: 1.5; }
      .portafolio ul li .imagen-table a, .portafolio ul li .imagen-table header .navbar button span, header .navbar button .portafolio ul li .imagen-table span {
        font-size: 60px;
        color: #fff;
        transform: scale(0.5);
        transition: all 2s;
        display: table-cell;
        vertical-align: middle; }
        .portafolio ul li .imagen-table a:hover, .portafolio ul li .imagen-table header .navbar button span:hover, header .navbar button .portafolio ul li .imagen-table span:hover {
          opacity: 1.5;
          border-radius: 50%;
          width: 50px;
          height: 50px; }

/* -----section contacto ----*/
.contact {
  background: rgba(31, 75, 62, 0.21); }
  .contact h2 {
    margin: 8% auto 3% auto;
    color: #273443;
    font-family: 'Muli';
    font-weight: 500; }
  .contact form {
    margin: 5% auto 8% 8%;
    padding: 30px;
    box-sizing: border-box; }
    .contact form i {
      color: #273443;
      font-size: 20px; }
    .contact form button {
      color: #273443; }

/*   footer */
footer {
  background: #134443;
  color: #fff; }
  footer ul li {
    font-size: 20px; }
    footer ul li a, footer ul li header .navbar button span, header .navbar button footer ul li span {
      color: #fff;
      padding: 0 5px; }
      footer ul li a:hover, footer ul li header .navbar button span:hover, header .navbar button footer ul li span:hover {
        color: #52eab6;
        text-decoration: none;
        opacity: 1.5; }

/*# sourceMappingURL=main.css.map */
