body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
  color: #fff; }

header {
  position: fixed;
  z-index: 2000;
  background: transparent;
  color: #fff;
  width: 100%; }
  header a {
    color: #fff; }

section {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%; }

.video .hero {
  position: absolute;
  bottom: 33.33333%;
  width: 100%; }
  .video .hero .list {
    position: fixed; }
    .video .hero .list i {
      color: #000;
      font-size: 20px; }
  .video .hero a {
    position: relative;
    bottom: -190px;
    font-size: 60px;
    color: #fff; }
.video .text-transparente {
  width: 50%;
  margin: auto;
  height: 200px;
  background: rgba(15, 14, 14, 0.43);
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  position: relative;
  left: 15%; }
  @media (max-width: 768px) {
    .video .text-transparente {
      left: 0; } }

.about-me {
  background-image: url(../img/about-me.JPG);
  background-size: cover;
  height: 680px; }
  .about-me h2 {
    margin: 8% auto 3% auto;
    color: #276046; }
  .about-me .text-aboutme {
    background: rgba(15, 14, 14, 0.43);
    padding: 20px 20px 10px 20px; }
    .about-me .text-aboutme i {
      font-size: 30px;
      color: #fff; }
  .about-me .animate {
    position: relative; }

/*  seccion habilidades   */
.mapslider {
  height: 650px;
  position: relative;
  background: rgba(15, 14, 14, 0.43);
  overflow: hidden; }
  .mapslider h2 {
    margin: 8% auto 3% auto;
    color: #276046; }
  .mapslider .mapmark {
    overflow: hidden;
    position: absolute;
    width: 90px;
    height: 90px;
    background: #F3EFE0;
    line-height: 20px;
    box-shadow: 0 10px 10px -1px #5f1f20;
    border-radius: 50%;
    cursor: pointer; }
    .mapslider .mapmark#m1 {
      top: 100px;
      right: 100px; }
    .mapslider .mapmark#m2 {
      top: 50px;
      right: 200px; }
    .mapslider .mapmark#m3 {
      top: 100px;
      right: 300px; }
    .mapslider .mapmark#m4 {
      top: 200px;
      right: 100px; }
    .mapslider .mapmark#m5 {
      top: 150px;
      right: 200px; }
    .mapslider .mapmark#m6 {
      top: 250px;
      right: 200px; }
    .mapslider .mapmark#m7 {
      top: 200px;
      right: 300px; }
    .mapslider .mapmark.active {
      background: #000;
      box-shadow: 0 0px 10px -1px #134443;
      font-weight: bold;
      cursor: default; }
  .mapslider .mapnav {
    padding: 20px;
    height: 650px;
    box-shadow: 0 0 260px -60px #000; }
    .mapslider .mapnav span {
      display: block;
      padding: 3px 20px;
      cursor: pointer; }
      .mapslider .mapnav span.active {
        font-weight: bold;
        cursor: default; }

/*---------------------------------------------*/
.percentage-bar {
  background: #fff;
  display: block;
  height: 35px;
  margin-bottom: 15px;
  position: relative;
  transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  -webkit-transition-property: width, background-color;
  width: 100%; }

.title {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
  width: 120px; }
  .title span {
    background: rgba(0, 0, 0, 0.1);
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-align: center; }

.bar {
  height: 35px;
  width: 0px; }

.percent {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 0;
  color: rgba(0, 0, 0, 0.4);
  height: 35px;
  line-height: 35px;
  right: 10px; }

section.percentage-bar:first-child div.title {
  background: #134443; }
section.percentage-bar:first-child div.bar {
  background: #dd2828; }
section.percentage-bar:nth-child(2) div.title {
  background: #134443; }
section.percentage-bar:nth-child(2) div.bar {
  background: #e67e22; }
section.percentage-bar:nth-child(3) div.title {
  background: #134443; }
section.percentage-bar:nth-child(3) div.bar {
  background: #2ecc71; }
section.percentage-bar:nth-child(4) div.title {
  background: #134443; }
section.percentage-bar:nth-child(4) div.bar {
  background: #3498db; }
section.percentage-bar:nth-child(5) div.title {
  background: #134443; }
section.percentage-bar:nth-child(5) div.bar {
  background: #6f37db; }
section.percentage-bar:last-child div.title {
  background: #134443; }
section.percentage-bar:last-child div.bar {
  background: #525252; }

/* seccion portafolio */
/*@mixin icon-size{
	font-size: 60px;
}*/
.portafolio h2 {
  margin: 8% auto 3% auto;
  color: #276046; }
.portafolio ul {
  margin-left: 0;
  overflow: hidden; }
  .portafolio ul li {
    padding: 20px;
    background: #134443;
    margin: 0 20px 20px 0;
    position: relative;
    cursor: pointer;
    width: 33.33333%;
    height: 20%;
    overflow: hidden; }
    .portafolio ul li:hover {
      box-shadow: inset 8px 8px 15px 15px #83d7ba; }
    @media (max-width: 768px) {
      .portafolio ul li {
        width: 100%; } }
    .portafolio ul li .imagen-table {
      width: 380px;
      height: 220px;
      position: absolute;
      background: rgba(15, 14, 14, 0.43);
      opacity: 0;
      transition: all 1s;
      top: 0;
      left: 0;
      display: table; }
      .portafolio ul li .imagen-table:hover {
        opacity: 1.5; }
      .portafolio ul li .imagen-table a {
        font-size: 60px;
        color: #fff;
        transform: scale(0.5);
        transition: all 2s;
        background: #83d7ba;
        opacity: 1.5;
        display: table-cell;
        vertical-align: middle; }

/* -----section contacto ----*/
.contact h2 {
  margin: 8% auto 3% auto;
  color: #276046; }
.contact form {
  margin: 5% auto 8% 8%;
  padding: 30px;
  box-sizing: border-box; }
  .contact form label {
    color: #000; }

/*   footer */
footer {
  background: #134443;
  color: #fff; }
  footer ul li {
    font-size: 30px; }
    footer ul li a {
      color: #fff;
      padding: 0 5px; }
      footer ul li a:hover {
        opacity: 1.5; }

/*# sourceMappingURL=main.css.map */
