// seccion contacto
.contact{
	background: rgba(31, 75, 62, 0.21);
	h2{
		@include seconTitle;
	}
	form{
		margin: 5% auto 8% 8%;
		padding: 30px;
		box-sizing: border-box;
		
		i{ 
			color: $colorTitle;
			font-size: $icon-size/3;
		}
		button{
			@extend #boton;
			color: $colorTitle;
		}
	}
}