@import url(http://fonts.googleapis.com/css?family=Loved+by+the+King);

*{
padding: 0;
margin: 0;
box-sizing: border-box;
-webkit-font-smoothing: antialiased;
transition: all ease 0.5s;
color:whitesmoke;
text-shadow:1px 1px 1px #999;
}

a{
text-decoration: none;
border: none;
color: rgb(255,255,255);
}

a:link{
text-decoration: none;
border: none;
color: rgb(0,0,0);
}

a:visited{
text-decoration: none;
border: none;
color: gold;
}


body, html{
width: 100%;
height: 100%;
overflow: hidden;
font: 400 100% PT sans narrow;
color: rgb(120,120,120);
background: rgb(255,255,240);
}

.con{
height: 100%;
width: 100%;
position: relative;
}

.stripes{
width: 4000px;
height: 4000px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%) rotate(45deg);
transform: translate(-50%,-50%) rotate(45deg);
}

.stripes2{
width: 4000px;
height: 4000px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%) rotate(-45deg);
transform: translate(-50%,-50%) rotate(-45deg);
}

.stripes3{
width: 50px;
height: 10px;
position: absolute;
top: 50%;
left: 100%;
-webkit-transform: translate(-20%,-20%) rotate(90deg);
transform: translate(-20%,-20%) rotate(90deg);
}

.st{
border: none;
}

.linkspan:hover{
background: rgb(240,200,220);
}

.asf{
opacity: 0.8;
}

.card{
background: rgba(255,255,255,.2);
width: 320px;
height: 427px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
margin: auto;
overflow: hidden;
box-shadow:20px 15px 20px rgba(28, 45, 108,.4);  
}

.name{
font-size: 40px;
line-height: 1.2;
margin-bottom: 10px;
text-align:center;
text-transform: uppercase;
font-style: normal;
font-weight: 400;
}

.title{
font-size: 20px;
line-height: 1.3;
text-align:center;
text-transform: none;
font-style: normal;
font-weight: 700;
}

.info{
font-size: 1.1em;
line-height: 1.3;
text-align:justify;
font-weight: 400;
margin-bottom: 10px;
}

p{font-size:0.8em;text-align:justify;margin-top:-20px;}

.icsp{
margin-right: 5px;
}

.frontwrap{
position: relative;
height: 382px;
width: 100%;
padding: 40px;
}

.navcons{
float: left;
height: 45px;
line-height: 45px;
padding: 0px 10px;
font-size: 15px;
z-index: 1000;
position: relative;
}

.buttlink{
position: absolute;
height: 100%;
width: 100%;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}

.cardtemp{
height: 382px;
width: 320px;
position: absolute;
top: 0;
padding: 40px;
z-index: 5;
}

.c1{
left: 0%;
opacity: 1;
}

.c2{
left: 100%;
opacity: 0;
}

.c3{
left: 100%;
opacity: 0;
}

.c4{
left: 100%;
opacity: 0;
}

.c5{
left: 100%;
opacity: 0;
}

.c6{
left: 100%;
opacity: 0;
}

.c7{
left: 100%;
opacity: 0;
}

.c8{
left: 100%;
opacity: 0;
background: url(http://www.lacor.info/film/a_la_folie/img/a_la_folie_1.jpg)  no-repeat center center;
background-size: cover;
}

.navcons:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c2:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c3:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c4:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c5:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c6:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c7:hover ~ .c1{
left: -100%;
opacity: 0;
}

.c8:hover ~ .c1{
left: -100%;
opacity: 0;
}

.phone:hover ~ .c2{
left:0;
opacity: 1;
}

.c2:hover{
left: 0;
opacity: 1;
}

.clock:hover ~ .c3{
left:0;
opacity: 1;
}

.c3:hover{
left: 0;
opacity: 1;
}

.coffee:hover ~ .c4{
left:0;
opacity: 1;
}

.c4:hover{
left: 0;
opacity: 1;
}

.codepen:hover ~ .c5{
left:0;
opacity: 1;
}

.c5:hover{
left: 0;
opacity: 1;
}

.facebook:hover ~ .c6{
left:0;
opacity: 1;
}

.c6:hover{
left: 0;
opacity: 1;
}

.twitter:hover ~ .c7{
left:0;
opacity: 1;
}

.c7:hover{
left: 0;
opacity: 1;
}

.heart:hover ~ .c8{
left:0;
opacity: 1;
}

.c8:hover{
left: 0;
opacity: 1;
}

.phone:hover{
background: rgba(220,200,240,1);
cursor: pointer;
}

.clock:hover{
background: rgba(200,220,240,1);
cursor: pointer;
}

.coffee:hover{
background: rgba(210,230,230,1);
cursor: pointer;
}

.codepen:hover{
background: rgba(220,240,220,1);
cursor: pointer;
}

.linkedin:hover{
background: rgba(230,230,210,1);
cursor: pointer;
}

.twitter:hover{
background: rgba(240,220,200,1);
cursor: pointer;
}

.heart:hover{
color: rgb(20,0,50);
}

@-webkit-keyframes hrtan {
from {color: rgb(162, 53, 45);}
to {color: rgba(162, 53, 45,.6);}
}

@keyframes hrtan {
from {color: rgb(26, 82, 224);}
to {color: rgb(101, 110, 133);}
}

.heartanim{
-webkit-animation: hrtan 0.7s linear 0s infinite alternate;
animation: hrtan 0.7s linear 0s infinite alternate;
}

@-webkit-keyframes st1an {
from {-webkit-transform: scale(7,7)}
to {-webkit-transform: scale(1,1)}
}

@keyframes st1an {
from {transform: scale(7,7)}
to {transform: scale(1,1)}
}

@-webkit-keyframes st2an {
from {-webkit-transform: scale(1,1)}
to {-webkit-transform: scale(7,7)}
}

@keyframes st2an {
from {transform: scale(1,1)}
to {transform: scale(7,7)}
}

@-webkit-keyframes st3an {
from {-webkit-transform: scale(4,4)}
to {-webkit-transform: scale(2,2)}
}

@keyframes st3an {
from {transform: scale(4,4)}
to {transform: scale(2,2)}
}

@-webkit-keyframes st4an {
from {-webkit-transform: scale(1,1)}
to {-webkit-transform: scale(7,7)}
}

@keyframes st4an {
from {transform: scale(1,1)}
to {transform: scale(7,7)}
}

@-webkit-keyframes st5an {
from {-webkit-transform: scale(1,1)}
to {-webkit-transform: scale(3,3)}
}

@keyframes st5an {
from {transform: scale(1,1)}
to {transform: scale(3,3)}
}

@-webkit-keyframes st6an {
from {-webkit-transform: scale(8,8)}
to {-webkit-transform: scale(1,1)}
}

@keyframes st6an {
from {transform: scale(8,8)}
to {transform: scale(1,1)}
}
/*Orange*/
.st1{
background: rgba(240, 63, 9,0.2);
height: 100px;
margin-bottom: -20px;

-webkit-animation: st1an 40s linear 2s infinite alternate;
animation: st1an 40s linear 2s infinite alternate;
}
/*Gold*/
.st2{
background: rgba(255, 215, 0,0.3);
height: 80px;
margin-bottom: -18.75px;   

-webkit-animation: st2an 55s linear 2s infinite alternate;
animation: st2an 55s linear 2s infinite alternate;
}

/*Orange2*/
.st3{
background: rgba(72, 43, 12,0.2);
height: 120px;
margin-bottom: -30px;

-webkit-animation: st3an 35s linear 0s infinite alternate; 
animation: st3an 35s linear 0s infinite alternate;
}

/*white2*/
.st4{
background: rgba(246, 244,233,0.3);
height: 40px;
margin-bottom: -20px;

-webkit-animation: st4an 70s linear 1s infinite alternate;
animation: st4an 70s linear 1s infinite alternate;
}

/*Orange dark*/
st5{
background: rgba(238, 69, 7,0.2);
height: 60px;
margin-bottom: -11.2px;

-webkit-animation: st5an 78s linear 10s infinite alternate;
animation: st5an 78s linear 10s infinite alternate;
}

/*Yellow dark*/
/*.st6{
background: rgba((201, 183,22,0.4);
height: 140px;
margin-bottom: -40px;

-webkit-animation: st6an 30s linear 0s infinite alternate;
animation: st6an 30s linear 0s infinite alternate;
}*/