// seccion portafolio
$tamaWidth: '(max-width: 768px)';
.portafolio{
	h2{
		@include seconTitle;
	}
	ul{
		margin-left: 0;
		overflow: hidden;
		li{
			padding: 20px;
			background: $colorTitle;
			margin: 0 20px 20px 0;
			position: relative;
			cursor: pointer;
			width: $width/3;
			height: $width/5;
			overflow: hidden;
			
			&:hover{
				background: $colorOpaco;
			}
			@media #{$tamaWidth}{
				width: $width;
			}
			
			.imagen-table{
				width: $size*3.8;
				height: $size*2.2;
				position: absolute;
				background: $color-secundario;
				opacity: 0;
				transition: all 1s;
				top: 0;
				left: 0;
				display: table;
				&:hover{
					@include hovers;
				}
				
				a{
					font-size: $icon-size;
					color: $white;
					transform: scale(0.5);
					transition: all 2s;
					//background: $colorOpaco;
					@include posicionDisplay;
					&:hover{
						@include hovers;
						border-radius: 50%;
						width: 50px;
						height: 50px;
					}
				}
			}
		}
	}
}
