// seccion portafolio
.portafolio{
	h2{
		margin: 8% auto 2% auto;
	}
	ul{
		margin-left: 0;
		overflow: hidden;
		li{
			padding: 10px;
			background: $color-principal;
			margin: 0 20px 20px 0;
			position: relative;
			cursor: pointer;
			width: $size*3.8;
			height: $size*2.2;
			overflow: hidden;
			
			&:hover{
				box-shadow: inset 0 0 10px 10px rgba(183, 87, 36, 0.75);
			}
			.imagen-table{
				width: $size*3.8;
				height: $size*2.2;
				position: absolute;
				background: rgba(183, 87, 36, 0.5);
				opacity: 0;
				transition: all 1seg;
				top: 0;
				left: 0;
				display: table;
				&:hover{
					opacity: 1.5;
				}
				i{
					font-size: 50px;
					color: white;
					display: table-cell;
					vertical-align: middle;
				}
				span{
					font-size: 50px;
					color: white;
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
	}
}