//declarando variables
$size: 100px;
$space: $size/5;
$duracion: 800ms;
$fondo: rgb(69, 111, 101);
$fontColor: #fff;

$tamaWidth: '(max-width: 768px)';
/* ----------- seccion habilidades--*/
.skill{
	//background: $colorTitle;
	height: $size*5;
	h2{
		@include seconTitle;
	}
	.skill-content{
		/*
		margin: 0 auto;
		//position: relative;
		//perspective: $size*8;
		transform-style: preserve-3d;
		transform-origin: 50% 50%;
		height: $size*3;*/
		.cuadro{
			position: $position;
			width: $size*2;
			height: $size*2;
			display: inline-block;
			/*bottom: 0;
			left: 10%;*/
			line-height: $size;
			text-align: center;
			transition: $duracion;
			font-size: $size/2;
			left: 25%;
		}
		
 }
	.text-content{
			/*//position: relative;
			padding-left: 0;
			width: $width/3;
			height: 200px;*/
			
			.contenido-skill{
				position: absolute;
				background: $color-principal;
				color: $white;
			}
		@media #{$tamaWidth}{
			margin: 80% 0 0 0;
			margin-bottom: 0;
		}
		}
	
}
.n1{
	background: desaturate(lighten($fondo,10),10);
	transform: rotate3d(0,0,1, 30deg) translate3d($space*3,0,-$space*3) scale(0.85);
}
.n2{
	background: desaturate(lighten($fondo,5),5);
	transform: rotate3d(0,0,1, 18deg) translate3d($space*2,0,-$space*2) scale(1.0);
}
.n3{
	background: $fondo;
	transform: rotate3d(0,0,1 0deg) translate3d(0,0,0) scale(0.8);
}
.n4{
	background: desaturate(lighten($fondo,15),15);
	transform: rotate3d(0,0,1, 36deg) translate3d($space*4,0,-$space*4) scale(1.2);
}
.n5{
	background: desaturate(lighten($fondo,20),20);
	transform: rotate3d(0,0,1, 48deg) translate3d($space*5,0,-$space*5) scale(0.75);
}
.n6{
	background: desaturate(lighten($fondo,25),25);
	transform: rotate3d(0,0,1, 53deg) translate3d($space*6,0,-$space*6) scale(0.65);
}
.n7{
	background: desaturate(lighten($fondo,30),30);
	transform: rotate3d(0,0,1, 55deg) translate3d($space*7,0,-$space*7) scale(0.55);
}
.n8{
	background: desaturate(lighten($fondo,35),35);
	transform: rotate3d(0,0,1, 58deg) translate3d($space*8,0,-$space*8) scale(0.45);
}