//declarando variables
$size: 100px;

.mapslider {
	h2{
		@include seconTitle;
	}
	  height: 650px;
	  position: relative;
	  background: rgba(133, 160, 151, 0.31);
	  overflow: hidden;
	  .mapmark {
		overflow: hidden;
		position: absolute;
		width: 90px;
		height: 90px;
		line-height: 20px;
		box-shadow: 0 10px 10px -1px #5f1f20;
		border-radius: 50%;
		//text-shadow: 0 0 10px #5f1f20;
		cursor: pointer;
		&#m1 {
		  top: 100px;
		  right: 100px;
		}
		&#m2 {
		  top: 50px;
		  right: 200px;
		}
		&#m3 {
		  top: 100px;
		  right: 300px;
		}
		&#m4 {
		  top: 200px;
		  right: 100px;
		}
		&#m5 {
		  top: 150px;
		  right: 200px;
		}
		&#m6 {
		  top: 250px;
		  right: 200px;
		}
		&#m7 {
		  top: 200px;
		  right: 300px;
		}
		&.active {
		  background: #000;
		  box-shadow: 0 0px 10px -1px $color-principal;
		  font-weight: bold;
		  cursor: default;
		}
	  }
	  .mapnav {
		padding: 20px;
		height: 650px;
		box-shadow: 0 0 260px -60px #000;
		span {
		  display: block;
		  padding: 3px 20px;
		  cursor: pointer;
		  &.active {
			font-weight: bold;
			cursor: default;
			color: #525252;
		  }
		}
	  }
}

/*---------------barrras de porcentaje-------------*/

.percentage-bar {
  background: #fff;
  display: block;
  height: 35px;
  margin-bottom: 15px;
  position: relative;
  transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  -webkit-transition: 0.4s linear;
  transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  -webkit-transition-property: width, background-color;
  width: 100%;
}
@mixin datosPercent{
	color: $white;
	font-size: 14px;
	position: absolute;
  	top: 0;
}
.title {
  @include datosPercent;
  left: 0;
  width: 120px;
  span {
    display: block;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    text-align: center;
  }
}

.bar {
  height: 35px;
  width: 0px;
}

.percent {
  @include datosPercent;
  color: rgba(0, 0, 0, 0.4);
  height: 35px;
  line-height: 35px;
  right: 10px;
}
@mixin barPercentege{
	&.title {
		background: $colorOpaco;
    }
    &.bar {
      background: $color-principal;
    }
}
section.percentage-bar {
  &:first-child div {
    @include barPercentege;
  }
  &:nth-child(2) div {
    @include barPercentege;
  }
  &:nth-child(3) div {
    @include barPercentege;
  }
  &:nth-child(4) div {
    @include barPercentege;
  }
  &:nth-child(5) div {
    @include barPercentege;
  }
  &:nth-child(6) div {
  	@include barPercentege;
  }
  &:nth-child(7) div {
    @include barPercentege;
  }
}

/*------boton click porcentaje-----*/
#boton{
	width: $size;
	margin: auto;
	padding: 5px;
	//border-radius: 5px;
	box-shadow: 4px 4px 0 $colorTitle;
	background: transparent;
	border: 2px solid $colorTitle;
	i{
		color: $colorTitle;
		font-size: $icon-size/2;
	}
}