$position: absolute;
$width: 100%;
$margin: 0;
$color-secundario: rgba(15, 14, 14, 0.43);
//$color-principal: rgb(69, 111, 101);
$color-principal: rgb(19, 68, 67);
$colorOpaco: rgb(82, 234, 182);
$colorTitle: rgb(39,52,67);
$white: #fff;
$icon-size: 60px;
$tamaWidth: '(max-width: 768px)';
$sizePhone: '(max-width: 412px)';
//----------------
@mixin seconTitle{
	margin: 8% auto 3% auto;
	color: $colorTitle;
	font-family: 'Muli';
	font-weight: 500;
}
@mixin posicionDisplay{
	display: table-cell;
	vertical-align: middle;
}
@mixin fontFamilyText{
	//font-family: 'Raleway', sans-serif;
	font-family: 'Muli', sans-serif;
	//font-size: 15px;
	color: $white;
}
body{
	//outline: 1px solid green;
	margin: 0;
	padding: 0;
	@include fontFamilyText;
}
/*------------header-------------*/
//$mediaMenu: '(max-width: 995px)';
header{
	position: fixed;
	display: none;
	top: 0;
	z-index: 100;
	width: 100%;
	padding: 10px 0;
	background: transparent;
	.navbar{
		margin-bottom: 0;
		margin-top: 10px;
		button{
			span{
				@extend a;
				border: 1px solid white;
			}
		}
	}
	.name{
		float: left;
		margin-top: 20px;
		font: bold 14px Raleway;
		width: 170px;
		strong{
			font-weight: 300;
			font-family: "Georgia";
			font-style: italic;
		}
	}
	img{
		float: left;
		border-radius: 50%;
		border: 1px solid $color-principal;
	}
	
	a{
		color: $white;
		@mixin afterBefore{
			position: absolute;
			opacity: 0;
			width: 0%;
			height: 3px;
			content: '';
			transition: all 0.8s;
		}
		&:after{
			@include afterBefore;
			right: 0;
			bottom: 0;
			}
		&:before{
			@include afterBefore;
			left: 0;
			top: 0;
		}
		&:hover:after, &:hover:before{
			background: $colorOpaco;
			opacity: 1;
			width: 100%;
			color: $color-principal;
		}
	}
	/* menu responsivo */
	@media #{$tamaWidth}{
		position: absolute;
		background: $color-principal;
	}
}
/*-------section video--------------*/

.video{
	height: 100%;
	.hero{
		position: $position;
		bottom: $width/3;
		width: $width;
		.list{
			position: fixed;
			i{
				color: #000;
				font-size: $icon-size/3;
			}
		}
		a{
			position: relative;
			bottom: -190px;
			font-size: $icon-size;
			color: $white;
		}
	}
	.text-transparente{
		width: $width/2;
		margin: auto;
		height: 200px;
		background: $color-secundario;
		color: $white;
		//margin-right: 0;
		@include posicionDisplay;
		position: relative;
		left: 0;
		@media #{$tamaWidth}{
			
		}
		h1{
			text-transform: uppercase;
			font: bold 5.7em/90% Raleway;
			font-weight: 700;
			@media #{$tamaWidth}{
				font: bold 2.7em/90% Raleway;
			}			
		
		}
		h2{
			font-size: 20px;
		}
	}
}

//  section about me
/*-------section about me---------*/
.about-me{
	h2{
		@include seconTitle;
	}
	background-image: url(../img/about-me.JPG);
	background-size: cover;
	height: 680px;
	.text-aboutme{
		background: $color-secundario;
		padding: 20px 20px 10px 20px;
		
		//responsivo texto sobre mi
		@media #{$sizePhone}{
			//padding: 10px 0px 10px 10px;
		}
		p{
			font-size:1em;
			@media #{$sizePhone}{
				//font-size: 1.2em;
			}
		}
		i{
			font-size: $icon-size/2;
			color: $white;
		}
	}
	.animate{
		position: relative;
	}
}
/*  seccion habilidades   */

@import '_skill';
/* seccion portafolio */
@mixin hovers{
	opacity: 1.5;
}
@import '_portafolio';
/* -----section contacto ----*/
@import '_contacto';

/*   footer */
@mixin color-mezcla{
	background: $color-principal;
	color: $white;
}

@import '_footer';
