$position: absolute;
$width: 100%;
$margin: 0;
$color-secundario: rgba(15, 14, 14, 0.43);
//$color-principal: rgb(69, 111, 101);
$color-principal: rgb(19, 68, 67);
$colorOpaco: rgb(131, 215, 186);
$colorTitle: #276046;
$white: #fff;
$icon-size: 60px;
$tamaWidth: '(max-width: 768px)';
//----------------
@mixin seconTitle{
	margin: 8% auto 3% auto;
	color: $colorTitle;
}
@mixin posicionDisplay{
	display: table-cell;
	vertical-align: middle;
}
@mixin fontFamilyText{
	//font-family: 'Raleway', sans-serif;
	font-family: 'Muli', sans-serif;
	//font-size: 15px;
	color: $white;
}
*{
	outline: 1px solid green;
	margin: 0;
	padding: 0;
	@include fontFamilyText;
}
header{
	position: fixed;
	z-index: 2000;
	background: transparent;
	color: $white;
	width: $width;
	a{
		color: $white;
	}
}
section{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: $width;
}
.video{
	.hero{
		position: $position;
		bottom: $width/3;
		width: $width;
		.list{
			position: fixed;
			i{
				color: #000;
				font-size: $icon-size/3;
			}
		}
		a{
			position: relative;
			bottom: -190px;
			font-size: $icon-size;
			color: $white;
		}
	}
	.text-transparente{
		width: $width/2;
		margin: auto;
		height: 200px;
		background: $color-secundario;
		color: $white;
		//margin-right: 0;
		@include posicionDisplay;
		position: relative;
		left: 15%;
		@media #{$tamaWidth}{
			left: 0;
		}
	}
}

//  section about me
.about-me{
	h2{
		@include seconTitle;
	}
	background-image: url(../img/about-me.JPG);
	background-size: cover;
	height: 680px;
	.text-aboutme{
		background: $color-secundario;
		padding: 20px 20px 10px 20px;
		i{
			font-size: $icon-size/2;
			color: $white;
		}
	}
	.animate{
		position: relative;
	}
}
/*  seccion habilidades   */

@import '_skill';
/* seccion portafolio */
/*@mixin icon-size{
	font-size: 60px;
}*/
@mixin hovers{
	opacity: 1.5;
}
@import '_portafolio';
/* -----section contacto ----*/
@import '_contacto';

/*   footer */
@mixin color-mezcla{
	background: $color-principal;
	color: $white;
}

@import '_footer'